html {
    background: url(../images/rainbow.jpg) no-repeat center center fixed;
    background-size: cover;  
    
}

body {
    background:transparent;
}

.pFont {
    font-family: 'Josefin Sans', sans-serif;
}

.titleFont {
    font-family: 'Raleway', sans-serif;
}

.btn,
.btn-lg {
    font-family: 'Raleway', sans-serif;
}

.gif {
    height:100%;
    width:auto;
}

.rating {
    width:100%;
}

#btnHolder {
    /* position:fixed; */
    height:fit-content;
}

.container {
    background:transparent;
}

.newDiv,
.btn,
.btn-lg,
#inputHolder,
.jumbotron,
.input,
#about {
    background-color:black;
}

#about {
    margin-top:13vw;
    text-align:center;
}

.input {
    color:white;
}

.jumbotron {
    padding:0;
    margin-bottom:1vw;
}

.container,
.body {
    background:transparent;
}

.btn:hover,
.btn-lg:hover {
    background-color:white;
    color:black;
}

::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    background: black; 
}

::-webkit-scrollbar-thumb {
    background: white; 
}

::-webkit-scrollbar-thumb:hover {
    background: #888; 
}
