html {
    background: url(../images/rainbow.jpg) no-repeat center center fixed;
    background-size: cover;  
    
}

body {
    background:transparent;
}

.gif {
    height:100%;
    width:auto;
}

.newDiv {
    width:auto;
}

.rating {
    float:clear;
}

#btnHolder {
    /* position:fixed; */
    height:fit-content;
}

.container {
    background:transparent;
}

.newDiv,
.btn,
#inputHolder,
.jumbotron {
    background-color:black;
}

.container,
.body {
    background:transparent;
}

::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    background: black; 
}

::-webkit-scrollbar-thumb {
    background: white; 
}

::-webkit-scrollbar-thumb:hover {
    background: #888; 
}
